@import "../../styles/mixins/index.scss";

@include b(icon) {
  @include e(container) {
    @include m(default) {
      font-size: inherit;
    }

    @include m(font) {
      font-family: "vtnt-icon" !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1;
    }
  }
}
