@import "../../../../src/styles/mixins/index.scss";
@include b(mw,false) {
   @include e(wrap) {
       width: 350px;
       height: 700px;
       border-radius: 15px;
       background-color: #ffffff;
       margin: 0 auto;
       iframe {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
       }
   } 
}