@import "../../styles/mixins/index.scss";
@include b(slider) {
    @include e(wrap) { 
        flex: 1;
        background: #e4e7ed;
        border-radius: 6px; 
        height: 12px;
        flex: 1;
        display:flex;
        justify-content: flex-start;
    }
    @include e(loading-wrap) {
        border-top-left-radius: 6px;
        border-bottom-left-radius:6px;
        height: 12px;
        background: #409eff;
    }
    @include e(block) {
        border-radius: 50%;
        width: 13px;
        height: 13px;
        border: 4px solid #409eff;
        background-color: #fff;
        margin-left:-6px;
        margin-top: -6px;
    }
}