@import "../../styles/mixins/index.scss";
@include b(form-item) {
  @include e(wrap) {
    font-size: $font-middle;
    line-height: 24px;
    padding:10px 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: flex-start;
  }
  @include e(require) {
     color:$error;
  }
  @include e(label) {
   
  }
  @include e(main) {
    flex: 1;
  }
  @include e(error-tips) {
    color:$error;
  }
}